# Heros of Pymoli Analysis

In [84]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Datasets/Game_Purchase_Dataset.csv"

# Read Purchasing File and store into Pandas data frame
purchase_dataset = pd.read_csv(file_to_load)

purchase_dataset.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

### Player Count
Display the total number of players

In [85]:
player_count = purchase_dataset["SN"].nunique()

print(f"There are a total of {player_count} players in this dataset.")

There are a total of 576 players in this dataset.

### Purchasing Analysis (Total)

Run basic calculations to obtain number of unique items, average price, etc.

Create a summary data frame to hold the results

Optional: give the displayed data cleaner formatting

Display the summary data frame

In [86]:
# Create a new dataset with just the game data

items_data = purchase_dataset[["Item Name", "Price", "Item ID", "Purchase ID"]]

items_data.head()

                                   Item Name  Price  Item ID  Purchase ID
0  Extraction, Quickblade Of Trembling Hands   3.53      108            0
1                          Frenzied Scimitar   1.56      143            1
2                               Final Critic   4.88       92            2
3                                Blindscythe   3.27      100            3
4                                       Fury   1.44      131            4

In [87]:
# Number of unique game titles in the dataset.

unique_items = items_data["Item Name"].nunique()

print(f"The total number of unique game titles in this dataset are {items_count}.")

The total number of unique game titles in this dataset are 179.

In [88]:
# The average price per dollar across all unique game titles.

unique_items = items_data.drop_duplicates(subset=["Item ID", "Item Name"])
avg_item_price = round(unique_items["Price"].mean(), 2)

print(f" The average price per game title is ${avg_item_price}.")

 The average price per game title is $3.04.

In [89]:
# Find the maximum price for a game title.

unique_items = items_data.drop_duplicates(subset=["Item ID", "Item Name"])
max_item_price = unique_items["Price"].max()

print(f"${max_item_price} is the highest price for a game title.")

$4.99 is the highest price for a game title.

In [90]:
# Find the minimum price for a game title.

unique_title = items_data["Item Name"].nunique()
min_item_price = round(unique_items["Price"].min(), 2)

print(f"The lowest game title price is ${min_item_price}.")

The lowest game title price is $1.0.

In [99]:
# Create a summary dataframe with all of the statistics

# Ensure unique items only
unique_items = items_data.drop_duplicates(subset=["Item ID", "Item Name"])

# Calculate stats
summary_stats = {
    "Number of Unique Titles": [unique_items["Item ID"].nunique()],
    "Average Price": [round(unique_items["Price"].mean(), 2)],
    "Max Price": [round(unique_items["Price"].max(), 2)],
    "Min Price": [round(unique_items["Price"].min(), 2)]
}

# Create summary DataFrame
summary_df = pd.DataFrame(summary_stats)

# Optional: format as currency
summary_df["Average Price"] = summary_df["Average Price"].map("${:.2f}".format)
summary_df["Max Price"] = summary_df["Max Price"].map("${:.2f}".format)
summary_df["Min Price"] = summary_df["Min Price"].map("${:.2f}".format)

summary_df

   Number of Unique Titles Average Price Max Price Min Price
0                      179         $3.04     $4.99     $1.00

### Gender Demographics

Percentage and Count of Male Players

Percentage and Count of Female Players

Percentage and Count of Other / Non-Disclosed

In [ ]:
# Create a new dataframe with just the player information


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame